{
    "overrides": [
        {
            "files": ["*.yaml", "*.yml"],
            "options": {
                "singleQuote": false
            }
        }
    ],
    "printWidth": 120,
    "quoteProps": "consistent",
    "singleQuote": true
}
